<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    <style>
        @font-face {
            font-family: 'NotoSans';
            src: url('/static/fonts/NotoSans-Regular.ttf');
        }
        body {
            font-family: 'NotoSans', sans-serif;
        }
        h1 {
            text-align: center;
        }
        .content {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>{{ article.title }}</h1>
    <p><strong>Keywords:</strong> 
  <span title="{{ article.keywords }}">
    {{ article.keywords|truncatechars:80 }}
  </span>
</p>
    <p><strong>Type:</strong> {{ article.article_type }}</p>
    <div class="content">{{ article.content|linebreaks }}</div>
    <br><br>
    <p><strong>Created At:</strong> {{ article.created_at }}</p>
</body>
</html>
